In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ankita\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\ankita\anaconda3\lib\site-packages (from selenium) (1.25.11)

install the selenium driver

In [3]:
import selenium
import pandas as pd
from selenium import webdriver

In [4]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import files and driver

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [100]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(2)

call chrome driver link and youtube link of most viewed videos

In [101]:
time.sleep(4)
# creating empty lists for scraping data
Video_Rank=[]
video_Name=[]
Artist_Name=[]
Upload_date=[]
Video_Views=[]

Dataframes of all the variables

In [102]:
#Name=driver.find_elements_by_xpath("//a[@class='mw-redirect']")
Name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[2]")
for i in Name:
    if i.text is None :
        video_Name.append("--") 
    else:
        video_Name.append(i.text)
        
time.sleep(4)
#scraping the job-location
Artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[3]")
for i in Artist:
    if i.text is None :
        Artist_Name.append("--") 
    else:
        Artist_Name.append(i.text)
        
time.sleep(4)        
Views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[4]")
for i in Views:
    if i.text is None :
        Video_Views.append("--") 
    else:
        Video_Views.append(i.text)
        
time.sleep(4)        
Date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[5]")
for i in Date:
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)
        
time.sleep(4)        
Rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//td[6]")
for i in Rank:
    if i.text is None :
        Video_Rank.append("--") 
    else:
        Video_Rank.append(i.text)

Scrap the information and URLs of Rank, Name, Artist, Date, Views link.

In [104]:
video_Name=[]
for i in Name[0:30]:
    video_Name.append(i.text)
video_Name

['"Baby Shark Dance"[22]',
 '"Despacito"[24]',
 '"Johny Johny Yes Papa"[25]',
 '"Shape of You"[26]',
 '"See You Again"[27]',
 '"Bath Song"[30]',
 '"Learning Colors – Colorful Eggs on a Farm"[31]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Uptown Funk"[33]',
 '"Gangnam Style"[34]',
 '"Phonics Song with Two Words"[36]',
 '"Dame Tu Cosita"[37]',
 '"Sugar"[38]',
 '"Sorry"[39]',
 '"Roar"[40]',
 '"Counting Stars"[41]',
 '"Thinking Out Loud"[42]',
 '"Wheels on the Bus"[43]',
 '"Dark Horse"[44]',
 '"Faded"[45]',
 '"Girls Like You"[46]',
 '"Shake It Off"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Let Her Go"[50]',
 '"Mi Gente"[51]',
 '"Axel F"[52]',
 '"Perfect"[53]',
 '"Waka Waka (This Time for Africa)"[54]',
 '"Hello"[55]']

Scrap the Videos names

In [105]:
Artist_Name=[]
for i in Artist[0:30]:
    Artist_Name.append(i.text)
Artist_Name

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Get Movies',
 'Mark Ronson',
 'Psy',
 'ChuChu TV',
 'El Chombo',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Taylor Swift',
 'Major Lazer',
 'Enrique Iglesias',
 'Passenger',
 'J Balvin',
 'Crazy Frog',
 'Ed Sheeran',
 'Shakira',
 'Adele']

Scrap the Artist names

In [106]:
Video_Views=[]
for i in Views[0:30]:
    Video_Views.append(i.text)
Video_Views

['9.20',
 '7.50',
 '5.65',
 '5.43',
 '5.23',
 '4.47',
 '4.45',
 '4.45',
 '4.27',
 '4.16',
 '4.10',
 '3.54',
 '3.54',
 '3.46',
 '3.41',
 '3.37',
 '3.31',
 '3.23',
 '3.13',
 '3.12',
 '3.10',
 '3.09',
 '3.08',
 '3.08',
 '3.06',
 '2.96',
 '2.95',
 '2.93',
 '2.92',
 '2.87']

Scrap the Videos Views names

In [107]:
Upload_date=[]
for i in Date[0:30]:
    Upload_date.append(i.text)
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'July 15, 2012',
 'March 6, 2014',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'August 18, 2014',
 'March 22, 2015',
 'April 11, 2014',
 'July 25, 2012',
 'June 29, 2017',
 'June 16, 2009',
 'November 9, 2017',
 'June 4, 2010',
 'October 22, 2015']

Scrap the Upload Date names

In [108]:
Video_Rank=[]
for i in Rank[0:30]:
    Video_Rank.append(i.text)
Video_Rank

['[B]',
 '[C]',
 '[D]',
 '[E]',
 '[F]',
 '[G]',
 '[H]',
 '[I]',
 '[J]',
 '[K]',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

Scrap the Videos Rank

In [111]:
print(len(video_Name),len(Artist_Name),len(Video_Views),len(Upload_date),len(Video_Rank))

30 30 30 30 30

Length of the dataset

In [113]:
time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Name":video_Name,"Artist_Name":Artist_Name,"Views":Video_Views,"Date":Upload_date,"Rank":Video_Rank})
df

,Name,Artist_Name,Views,Date,Rank
0,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.20,"June 17, 2016",[B]
1,"""Despacito""[24]",Luis Fonsi,7.50,"January 12, 2017",[C]
2,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.65,"October 8, 2016",[D]
3,"""Shape of You""[26]",Ed Sheeran,5.43,"January 30, 2017",[E]
4,"""See You Again""[27]",Wiz Khalifa,5.23,"April 6, 2015",[F]
5,"""Bath Song""[30]",Cocomelon – Nursery Rhymes,4.47,"May 2, 2018",[G]
6,"""Learning Colors – Colorful Eggs on a Farm""[31]",Miroshka TV,4.45,"February 27, 2018",[H]
7,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.45,"January 31, 2012",[I]
8,"""Uptown Funk""[33]",Mark Ronson,4.27,"November 19, 2014",[J]
9,"""Gangnam Style""[34]",Psy,4.16,"July 15, 2012",[K]
10,"""Phonics Song with Two Words""[36]",ChuChu TV,4.10,"March 6, 2014",
11,"""Dame Tu Cosita""[37]",El Chombo,3.54,"April 5, 2018",
12,"""Sugar""[38]",Maroon 5,3.54,"January 14, 2015",
13,"""Sorry""[39]",Justin Bieber,3.46,"October 22, 2015",
14,"""Roar""[40]",Katy Perry,3.41,"September 5, 2013",
15,"""Counting Stars""[41]",OneRepublic,3.37,"May 31, 2013",
16,"""Thinking Out Loud""[42]",Ed Sheeran,3.31,"October 7, 2014",
17,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.23,"May 24, 2018",
18,"""Dark Horse""[44]",Katy Perry,3.13,"February 20, 2014",
19,"""Faded""[45]",Alan Walker,3.12,"December 3, 2015",
20,"""Girls Like You""[46]",Maroon 5,3.10,"May 31, 2018",
21,"""Shake It Off""[47]",Taylor Swift,3.09,"August 18, 2014",
22,"""Lean On""[48]",Major Lazer,3.08,"March 22, 2015",
23,"""Bailando""[49]",Enrique Iglesias,3.08,"April 11, 2014",
24,"""Let Her Go""[50]",Passenger,3.06,"July 25, 2012",
25,"""Mi Gente""[51]",J Balvin,2.96,"June 29, 2017",
26,"""Axel F""[52]",Crazy Frog,2.95,"June 16, 2009",
27,"""Perfect""[53]",Ed Sheeran,2.93,"November 9, 2017",
28,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.92,"June 4, 2010",
29,"""Hello""[55]",Adele,2.87,"October 22, 2015",

Make a Dataframe of all the data

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [104]:
#driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
#time.sleep(2)

#url = "https://www.bcci.tv/international/fixtures"
#driver.get(url)
#time.sleep(2)

In [161]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)
url ="https://www.bcci.tv"
driver.get(url)

call chrome driver link and bcci tv link

In [162]:
button = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")               # locating search button
button.click()

Scrap and click on International button drop down link

In [164]:
button = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")               # locating search button
button.click()

Here click on International button drop down link seleck Fixtures option

In [144]:
Match_title=[]
Series=[]
Place=[]
Date_Time=[]
Time=[]

Dataframes of all the variables

In [151]:
Name=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[1]")
for i in Name[0:7]:
    if i.text is None :
        Match_title.append("--") 
    else:
        Match_title.append(i.text)
        
Date_Time_t=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in Date_Time_t[0:7]:
    if i.text is None :
        Date_Time.append("--") 
    else:
        Date_Time.append(i.text)
        
Place_t=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")
for i in Place_t[0:7]:
    if i.text is None :
        Place.append("--") 
    else:
        Place.append(i.text)
        
Series_t=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//strong[1]")
for i in Series_t[0:7]:
    if i.text is None :
        Series.append("--") 
    else:
        Series.append(i.text)

Here scrap the information like Match title, Date, Time, Place and Series

In [152]:
print(len(Match_title),len(Date_Time),len(Place),len(Series))

14 14 14 14

In [153]:
df=pd.DataFrame({"Match_title":Match_title,"Date_Time":Date_Time,"Place":Place,"Series":Series})
df

,Match_title,Date_Time,Place,Series
0,TEST,,"4th Test\nThe Oval, London",4th Test
1,TEST,,"5th Test\nOld Trafford, Manchester",5th Test
2,T20I,,"Match 16\nDubai International Cricket Stadium,...",Match 16
3,T20I,,"Match 28\nDubai International Cricket Stadium,...",Match 28
4,T20I,,"Match 33\nSheikh Zayed Cricket Stadium, Abu Dhabi",Match 33
5,T20I,,"Match 37\nDubai International Cricket Stadium,...",Match 37
6,T20I,,"Match 42\nDubai International Cricket Stadium,...",Match 42
7,TEST,Thursday 2nd September 15:30 IST (13:00 Your T...,"4th Test The Oval, London",4th Test
8,TEST,Friday 10th September 15:30 IST (13:00 Your Ti...,"5th Test Old Trafford, Manchester",5th Test
9,T20I,Sunday 24th October 19:30 IST (17:00 Your Time ),"Match 16 Dubai International Cricket Stadium, ...",Match 16
10,T20I,Sunday 31st October 19:30 IST (17:00 Your Time ),"Match 28 Dubai International Cricket Stadium, ...",Match 28
11,T20I,Wednesday 3rd November 19:30 IST (17:00 Your T...,"Match 33 Sheikh Zayed Cricket Stadium, Abu Dhabi",Match 33
12,T20I,Friday 5th November 19:30 IST (17:00 Your Time ),"Match 37 Dubai International Cricket Stadium, ...",Match 37
13,T20I,Monday 8th November 19:30 IST (17:00 Your Time ),"Match 42 Dubai International Cricket Stadium, ...",Match 42

Scrap all the data into dataframe

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [ ]:
#driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
#time.sleep(2)

#url = "https://www.guru99.com/exception-handling-selenium.html"
#driver.get(url)
#time.sleep(2)

In [366]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "https://www.guru99.com"
driver.get(url)
time.sleep(2)

call chrome driver link and guru99 link

In [369]:
search = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")                       

search.send_keys("selenium exception handling")

Search selenium exception handling on search bar

In [370]:
button = driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']")               # locating search button
button.click()

    Click on search button

In [372]:
button = driver.find_element_by_xpath("//a[@class='gs-title']")               # locating search button
button.click()

Click on selenium exception handling title

In [115]:
Exception_Name=[]
Exception_Description=[]

Make data frame for data

In [117]:
#Name=driver.find_elements_by_xpath("//a[@class='mw-redirect']")
Name=driver.find_elements_by_xpath("//table[@class='table table-striped']//td[1]")
for i in Name:
    if i.text is None :
        Exception_Name.append("--") 
    else:
        Exception_Name.append(i.text)
        
time.sleep(4)
#scraping the job-location
Desc=driver.find_elements_by_xpath("//table[@class='table table-striped']//td[2]")
for i in Desc:
    if i.text is None :
        Exception_Description.append("--") 
    else:
        Exception_Description.append(i.text)

Scrape and name and descriptin data link

In [118]:
Exception_Name=[]
for i in Name:
    Exception_Name.append(i.text)
Exception_Name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

Scrape the Names

In [119]:
Exception_Description=[]
for i in Desc:
    Exception_Description.append(i.text)
Exception_Description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

Scrape description

In [120]:
print(len(Exception_Name),len(Exception_Description))

41 41

In [121]:
time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Name":Exception_Name,"Description":Exception_Description})
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Scrape data into dataframe

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [159]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

call chrome driver link and statisticstimes link

In [160]:
search_btn = driver.find_element_by_xpath("//div[@class='navbar']//div[2]")
search_btn

In [161]:
search_btn.click()

Click on economy button

In [162]:
search_btn = driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
search_btn

In [163]:
search_btn.click()

And select India option

In [164]:
search_btn = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_btn

In [165]:
search_btn.click()

And selectState-wise GDP of India option

In [408]:
Rank_GDP=[]
State_GDP=[]
GSDP19_20_price=[]
GSDP18_19_price=[]
Share18_19=[]
GDP_billion=[]

Dataframe od all the data which want to scrape

In [409]:
Rank=driver.find_elements_by_xpath("//tr[@class='odd']//td[1]")
for i in Rank:
    if i.text is None :
        Rank_GDP.append("--") 
    else:
        Rank_GDP.append(i.text)
        
time.sleep(4)
#scraping the job-location
State=driver.find_elements_by_xpath("//tr[@class='odd']//td[2]")
for i in State:
    if i.text is None :
        State_GDP.append("--") 
    else:
        State_GDP.append(i.text)
        
GSD19=driver.find_elements_by_xpath("//tr[@class='odd']//td[3]")
for i in GSD19:
    if i.text is None :
        GSDP19_20_price.append("--") 
    else:
        GSDP19_20_price.append(i.text)
        
time.sleep(4)
#scraping the job-location
GSD18=driver.find_elements_by_xpath("//tr[@class='odd']//td[4]")
for i in GSD18:
    if i.text is None :
        GSDP18_19_price.append("--") 
    else:
        GSDP18_19_price.append(i.text)
        
time.sleep(4)
#scraping the job-location
Share18=driver.find_elements_by_xpath("//tr[@class='odd']//td[5]")
for i in Share18:
    if i.text is None :
        Share18_19.append("--") 
    else:
        Share18_19.append(i.text)
        
time.sleep(4)
#scraping the job-location
Billion=driver.find_elements_by_xpath("//tr[@class='odd']//td[6]")
for i in Billion:
    if i.text is None :
        GDP_billion.append("--") 
    else:
        GDP_billion.append(i.text)

Scrape all the information link

In [410]:
print(len(Rank_GDP),len(State_GDP),len(GSDP19_20_price),len(GSDP18_19_price),len(Share18_19),len(GDP_billion))

34 34 34 34 34 34

In [411]:
time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Rank_GDP":Rank_GDP,"State_GDP":State_GDP,"GSDP19_20_price":GSDP19_20_price,"GSDP18_19_price":GSDP18_19_price,"Share18_19":Share18_19,"GDP_billion":GDP_billion})
df

,Rank_GDP,State_GDP,GSDP19_20_price,GSDP18_19_price,Share18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
2,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
3,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
4,9,Telangana,"969,604","861,031",4.56%,130.791
5,11,Kerala,-,"781,653",4.14%,118.733
6,13,Haryana,"831,610","734,163",3.89%,111.519
7,15,Punjab,"574,760","526,376",2.79%,79.957
8,17,Assam,-,"315,881",1.67%,47.982
9,19,Jharkhand,"328,598","297,204",1.57%,45.145
10,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
11,23,Goa,"80,449","73,170",0.39%,11.115
12,25,Chandigarh,-,"42,114",0.22%,6.397
13,27,Meghalaya,"36,572","33,481",0.18%,5.086
14,29,Manipur,"31,790","27,870",0.15%,4.233
15,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
16,33,Andaman & Nicobar Islands,-,-,-,-
17,1,Maharashtra,-,"2,332,992",13.97%,-
18,3,Uttar Pradesh,"1,495,758","1,404,761",8.41%,"1,015,735"
19,5,Gujarat,-,"1,322,936",7.92%,-
20,7,Rajasthan,"916,014","845,247",5.06%,"630,693"
21,9,Andhra Pradesh,"875,429","776,140",4.65%,"595,605"
22,11,Kerala,-,"707,542",4.24%,-
23,13,Haryana,"755,790","666,075",3.99%,"514,983"
24,15,Punjab,"517,521","472,506",2.83%,"374,015"
25,17,Assam,-,"282,782",1.69%,-
26,19,Chhattisgarh,"288,041","266,537",1.60%,"210,837"
27,21,Himachal Pradesh,"143,063","133,303",0.80%,"107,171"
28,23,Goa,"72,181","66,060",0.40%,"56,810"
29,25,Chandigarh,-,"37,571",0.22%,-
30,27,Meghalaya,"32,833","29,544",0.18%,"23,564"
31,29,Sikkim,"28,391","25,141",0.15%,"17,060"
32,31,Arunachal Pradesh,-,"22,488",0.13%,-
33,33,Andaman & Nicobar Islands,-,-,-,-

Make dataframe of all the data

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [239]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "https://github.com/"
driver.get(url)
time.sleep(2)

call chrome driver link and github link

In [241]:
search_btn = driver.find_element_by_xpath("//input[@class='form-control input-sm header-search-input jump-to-field js-jump-to-field js-site-search-focus']")
search_btn

In [242]:
search_btn.send_keys("trending repositories")

Click on search and search for trending repositories

In [243]:
search_btn = driver.find_element_by_xpath("//div[@class='jump-to-suggestion-name js-jump-to-suggestion-name flex-auto overflow-hidden text-left no-wrap css-truncate css-truncate-target']")
search_btn.click

Click on search button

In [244]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

Make dataframe of all the data which want to scrape

In [245]:
Repository=driver.find_elements_by_xpath("//div[@class='f4 text-normal']//a[1]")
for i in Repository[0:9]:
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)
        
time.sleep(4)
#scraping the job-location
Desc=driver.find_elements_by_xpath("//p[@class='mb-1']//em[1]")
for i in Desc[0:9]:
    if i.text is None :
        Repository_description.append("--") 
    else:
        Repository_description.append(i.text)
        
count=driver.find_elements_by_xpath("//div[@class='mr-3']//a[1]")
for i in count[0:9]:
    if i.text is None :
        Contributors_count.append("--") 
    else:
        Contributors_count.append(i.text)
        
time.sleep(4)
#scraping the job-location
Language=driver.find_elements_by_xpath("//div[@class='mr-3']//span[2]")
for i in Language[0:9]:
    if i.text is None :
        Language_used.append("--") 
    else:
        Language_used.append(i.text)

Scraoe all the data link

In [246]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

9 9 9 9

In [247]:
time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Repository_title":Repository_title,"Repository_description":Repository_description,"Contributors_count":Contributors_count,"Language_used":Language_used})
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,vitalets/github-trending-repos,trending,2.2k,HTML
1,mbadry1/Trending-Deep-Learning,trending,556,Python
2,Semigradsky/trending-repositories,repositories,77,JavaScript
3,laowch/GithubTrends,Trending,640,Java
4,ophobe/trending,trending,58,TypeScript
5,ecrmnn/trending-github,trending,56,JavaScript
6,zhuowenli/githuber,Trending,437,JavaScript
7,QasimWani/LeetHub,trending,680,Go
8,andygrunwald/TrendingGithub,trending,99,Go

Make dataframe of all the data

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [274]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "https://www.billboard.com/"
driver.get(url)
time.sleep(2)

call chrome driver link and billboard link

In [275]:
search_btn = driver.find_element_by_xpath("//li[@class='header__main-link__wrapper']//a[1]")
search_btn

In [276]:
search_btn.click

Click and select top 100 song button

In [280]:
search_btn = driver.find_element_by_xpath("/html/body/main/div[2]/div/div[1]/a/div[2]/div[1]")
search_btn

In [281]:
search_btn.click

Click search button

In [282]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

Scrape all the dataframe create

In [284]:
Song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in Song:
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)
        
time.sleep(4)
#scraping the job-location
Artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in Artist:
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text)
        
Rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in Rank:
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)
        
time.sleep(4)
#scraping the job-location
Peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in Peak:
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)
        
time.sleep(4)
#scraping the job-location
Weaks=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in Weaks:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)

Scrape all the links of the data

In [285]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [286]:
time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Last_week_rank":Last_week_rank,"Peak_rank":Peak_rank,"Weeks_on_board":Weeks_on_board})
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Stay,The Kid LAROI & Justin Bieber,1,1,7
1,Bad Habits,Ed Sheeran,2,2,9
2,Good 4 U,Olivia Rodrigo,3,1,15
3,Kiss Me More,Doja Cat Featuring SZA,5,3,20
4,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
95,Tick Tock,Young Thug,-,96,1
96,Permission To Dance,BTS,66,1,7
97,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
98,Time Heals,Rod Wave,-,99,1
99,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

Make dataframe of data

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [457]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "https://www.naukri.com/jobs-in-india"
driver.get(url)
time.sleep(2)

call chrome driver link and www.naukri.com link

In [578]:
#driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
#time.sleep(2)

#url = "https://www.naukri.com/data-science-recruiters"
#driver.get(url)
#time.sleep(2)

In [446]:
search_btn = driver.find_element_by_xpath("//div[@class='mTxt']")
search_btn

In [447]:
search_btn.click()

Click on recruitment option

In [461]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [462]:
search_job.send_keys("Data Science")

Click on search option and search for Data Science

In [463]:

search_btn = driver.find_element_by_xpath("//button[@class='btn-primary']")
search_btn

In [464]:
search_btn.click()

Click on search button

In [579]:
Name=[]
Designation=[]
Company=[]
Skills_they_hire=[]
Location=[]

Scrape all the dataframe create

In [580]:
Name_j=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in Name_j[0:48]:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
        
Company_j=driver.find_elements_by_xpath("//div[@class='vcard']//a[2]")
for i in Company_j[0:48]:
    if i.text is None :
        Company.append("--") 
    else:
        Company.append(i.text)
        
Skills_they_hire_j=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in Skills_they_hire_j[0:48]:
    if i.text is None :
        Skills_they_hire.append("--") 
    else:
        Skills_they_hire.append(i.text)
        
Location_j=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in Location_j[0:48]:
    if i.text is None :
        Location.append("--") 
    else:
        Location.append(i.text)

C

In [581]:
print(len(Name),len(Company),len(Skills_they_hire),len(Location))

48 48 48 48

In [582]:
df=pd.DataFrame({"Name":Name,"Company":Company,"Skills_they_hire":Skills_they_hire,"Location":Location})
df

,Name,Company,Skills_they_hire,Location
0,Aakash Harit,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,Data Science Network,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,shravan Kumar Gaddam,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Shore Infotech India Pvt. Ltd,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,MARSIAN Technologies LLP,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Anik Agrawal,IFMR,Data Science,Chennai
7,Enerlytics Software Solutions Pvt Ltd,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,subhas patel,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,LibraryXProject,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Abhishek - Only Analytics Hiring - India and,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Apidel Technologies Division of Transpower,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Institute for Financial Management and Resear,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,IFMR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Balu Ramesh,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Techvantage Systems Pvt Ltd,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Asif Lucknowi,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Weupskill- Live Wire India,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,InstaFinancials,Novelworx Digital Solutions,Data Science,Cochin
19,CBL Data Science Private Limited,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Priyanka Akiri,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Infinitive Software Solutions Pvt.Ltd.,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Kalpana Dumpala,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Innominds Software,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Mubarak,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,MoneyTap,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,Kushal Rastogi,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,QuantMagnum Technologies Pvt. Ltd.,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Ruchi Dhote,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
29,Bristlecone India Ltd,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Mahesh Babu Channa,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
31,SocialPrachar.com,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
32,Kapil Devang,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
33,BISP Solutions,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
34,Manisha Yadav,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
35,Easi Tax,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
36,Riya Rajesh,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Novelworx Digital Solutions,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Rashmi Bhattacharjee,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,O.C. Tanner,"Data Science, Software Engineering",Pune
40,Faizan Kareem,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,FirstTech Consaltants Pvt.Ltd,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Rithika dadwal,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Affine Analytics,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Sandhya Khandagale,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Compumatrice Multimedia Pvt Ltd,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Shaun Rao,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Exela Technologies,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

Make datframe of all the data

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [4]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
time.sleep(2)

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

call chrome driver link and https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare link

In [5]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

Scrape all the dataframe create

In [6]:
Book=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[1]")
for i in Book[0:100]:
    if i.text is None :
        Book_name.append("--") 
    else:
        Book_name.append(i.text)
       

 #scraping the job-location
Author=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[2]")
for i in Author:
    if i.text is None :
        Author_name.append("--") 
    else:
        Author_name.append(i.text)
        
Volumes=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[3]")
for i in Volumes:
    if i.text is None :
        Volumes_sold.append("--") 
    else:
        Volumes_sold.append(i.text)
        
time.sleep(4)
#scraping the job-location
Publ=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[4]")
for i in Publ:
    if i.text is None :
        Publisher.append("--") 
    else:
        Publisher.append(i.text)
        
time.sleep(4)
#scraping the job-location
Genre_n=driver.find_elements_by_xpath("//table[@class='in-article sortable']//td[5]")
for i in Genre_n:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)

Scrape all the dataframe create

In [7]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [8]:
#time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Book_name":Book_name,"Author_name":Author_name,"Volumes_sold":Volumes_sold,"Publisher":Publisher,"Genre":Genre})
df

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,SOURCE: NIELSEN BOOK SCAN,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,95,"Ghost,The","Harris, Robert","807,311",Random House
96,96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

Make dataframe of all the data

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [475]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
#time.sleep(2)

url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
#time.sleep(2)

call chrome driver link and https://www.imdb.com/list/ls095964455/ link

In [476]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

Scrape all the dataframe create

In [477]:
Series_name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a[1]")
for i in Series_name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
       
 #scraping the job-location
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
        
Genre_name=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[5]")
for i in Genre_name:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
#time.sleep(4)
#scraping the job-location
time=driver.find_elements_by_xpath("//div[@class='lister-item-content']//span[3]")
for i in time:
    if i.text is None :
        Run_time.append("--") 
    else:
        Run_time.append(i.text)
        
#time.sleep(4)
#scraping the job-location
Genre_name=driver.find_elements_by_xpath("//span[@class='genre']")
for i in Genre_name:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
        
#time.sleep(4)
#scraping the job-location
Ratings_name=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']//span[2]")
for i in Ratings_name[0:100]:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)
        
#time.sleep(4)
#scraping the job-location
Votes_n=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")
for i in Votes_n[0:100]:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)

Scrape all the data and links

In [478]:
print(len(Name),len(Year_span),len(Genre_name),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [479]:
#time.sleep(4)
# creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"Name":Name,"Year_span":Year_span,"Genre_name":Genre_name,"Run_time":Run_time,"Ratings":Ratings,"Votes":Votes})
df

,Name,Year_span,Genre_name,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),<selenium.webdriver.remote.webelement.WebEleme...,57 min,9.2,|
1,Stranger Things,(2016– ),<selenium.webdriver.remote.webelement.WebEleme...,51 min,,"1,866,088"
2,The Walking Dead,(2010–2022),<selenium.webdriver.remote.webelement.WebEleme...,44 min,Rate,|
3,13 Reasons Why,(2017–2020),<selenium.webdriver.remote.webelement.WebEleme...,60 min,,"901,767"
4,The 100,(2014–2020),<selenium.webdriver.remote.webelement.WebEleme...,43 min,,|
...,...,...,...,...,...,...
95,Reign,(2013–2017),<selenium.webdriver.remote.webelement.WebEleme...,42 min,,"214,884"
96,A Series of Unfortunate Events,(2017–2019),<selenium.webdriver.remote.webelement.WebEleme...,50 min,7.6,|
97,Criminal Minds,(2005–2020),<selenium.webdriver.remote.webelement.WebEleme...,42 min,,"202,301"
98,Scream: The TV Series,(2015–2019),<selenium.webdriver.remote.webelement.WebEleme...,45 min,Rate,|
99,The Haunting of Hill House,(2018),<selenium.webdriver.remote.webelement.WebEleme...,572 min,,"206,438"

Make dataframe of all the data

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [154]:
driver = webdriver.Chrome(r"C:\Users\Ankita\Downloads\chromedriver_win32\chromedriver.exe")
#time.sleep(2)

url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)
#time.sleep(2)

In [155]:
Name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [156]:
Dataset_name=driver.find_elements_by_xpath("//span[@class='normal']//a[1]")
for i in Dataset_name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

In [157]:
df=pd.DataFrame({"Name":Name})
df

                                                 Name
0
1                                  view all data sets
2                                          About page
3                                                Note
4                                       Mobile Robots
5
6                        Synchronous Machine Data Set
7                           Wikipedia Math Essentials
8                           Wikipedia Math Essentials
9                          Hungarian Chickenpox Cases
10                Myocardial infarction complications
11                                Gait Classification
12                                        Codon usage
13                   in-vehicle coupon recommendation
14                                   Dry Bean Dataset
15  Intelligent Media Accelerometer and Gyroscope ...
16           AI4I 2020 Predictive Maintenance Dataset
17                         Wisesight Sentiment Corpus
18                                               Iris
19                                              Adult
20                                               Wine
21                                       Wine Quality
22                                      Heart Disease
23               Breast Cancer Wisconsin (Diagnostic)
24                                     Bank Marketing
25                                     Car Evaluation
26       Human Activity Recognition Using Smartphones
27                                            Abalone
28                                       Forest Fires
29                                Student Performance
30                                              About